/*#############################
##       Miscellaneous       ##
#############################*/

/*force site to fit any size*/
body {
    width:100%;
    background-color: black;
}
/*nav bar style*/
#topnav {
    position: fixed;
    height: 5%; width:97%;
    text-align:left;
    border: 1px solid rgb(102, 0, 0);/*rgb(0,0,0);*/
    border-radius: 5px; 
    padding: 15px;
    background-color: black;
    font-family:"Times New Roman";
    word-spacing: 15px;
    font-size: 125%; /*2.5em;*/
    color:  rgb(255,255,255);
    text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
    background-image: url('images/checkeredbkg.jpg');
    
}
#topnav a{
    color:orange;
    text-decoration: none;
}

/*go to top button*/
#topbtn {
    display: none; /* hide button by default */
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}

/*#############################
##      Index page style     ##
#############################*/

/*header style*/
.header h1 {
    text-align: center;
    padding-top: 150px;/*added so nav-bar won't hide headers*/
    font-family:"Times New Roman";
    font-weight:bold;
    color: rgb(255,255,255);
    word-spacing: 300px;
}
.header a {
    text-decoration: none; 
    background-color: rgb(49, 49, 51);
    padding: 5px;
    border: 1px solid red;
    border-radius: 15px;
}
.header a:visited { /*stop the link from changing color when clicked*/
    color: white;
}

/*content style*/
.content {
    text-align: center;
}
.content h2 {
    padding-top: 100px;
    color: orangered;
}
.content img {
    padding-top: 3%;
    width: 100%;
}
.content div {
    width: 30%;
    height: 400px;
    text-align: center;
    font-family:"Lucida Calligraphy";
    font-weight: bold;
    border: 1px solid rgb(102, 0, 0);
    border-radius: 15px;
    padding-bottom: 30px;
    margin: auto;
}
.c_news, .c_events {
    background-color: rgb(49, 49, 51);
    color: rgb(181, 181, 181);
}
.c_patch-notes {
    background-color: rgb(230, 230, 230);
    color: rgb(31, 31, 20);
}

/*################################
##      Download page style     ##
################################*/

.downloadbox{
    text-align: center;
}

.downloadbox p{
    margin-top:100px;
    width: 15%;
    border: 1px solid white;
    border-radius: 5px; 
    padding: 5px;
    background-color: white;
    display: inline-block;
    font-weight: bolder;
    font-family:"Times New Roman";
    font-size: 250%;
    text-align: center;
    text-transform: capitalize;
    color:orange;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-image: url('images/checkeredbkg.jpg');

}

.downloadbox a{
    color: inherit;
    text-decoration: none;
}

/*##############################
##      About page style      ##
##############################*/