/* Jamie sucks at color schemes please fix!!!!! */
.main{
    text-align: center;

}
/* Style all paragraphs under main class, with borders, three paragraph boxes per-row*/
.main p{
    text-align: center;
    font-family:"Lucida Calligraphy";
    font-weight: bold;
    float: left;
    margin: 1%; 
    width: 30%;
    height: 400px;
    
}
.main h1{
    font-family:"Times New Roman";
    font-weight:bold;
    color: rgb(255,255,255);
    word-spacing: 300px;

}
 /*different paragraph box styles*/   
.p1{
    background-color: rgb(49, 49, 51);
    border: 1px solid rgb(102, 0, 0);
    border-radius: 15px;
    padding: 20 px;
    color: rgb(181, 181, 181);
}
.p2{
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(102, 0, 0);
    border-radius: 15px;
    padding: 20 px;
    color: rgb(31, 31, 20);
}


/*body force site to fit any size set background color*/
body {
    height:100%;
    width:100%;
    background-color: black;
}
/* Css for bav bar*/
#topnav {
    height: 5%; width:97%;
    text-align:left;
    border: 1px solid rgb(102, 0, 0);/*rgb(0,0,0);*/
    border-radius: 5px; 
    padding: 15px;
    background-color: black;
    font-family:"Times New Roman";
    word-spacing: 15px;
    font-size: 125%; /*2.5em;*/
    color:  rgb(255,255,255);
    text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
    
}