/*force fit on any screen*/
body {
    /*background-image: url("tiremarksbkg.jpg");*/
    background-color: black;
    width: 100%;
    margin: 0px; 
    margin-bottom: 2%;
}
/*add 25% margin on both sides*/
section {
    margin-left: 25%;
    margin-right: 25%;
}
/*make all divs fit 100%, centre aligned*/
div {
    width: 100%;
    text-align: center;
}
/*go to top button*/
#topbtn {
    display: none; /* hide button by default */
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    border: none;
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
}
/*top navigation style*/
.nav {
    height: 25px;
    margin-top: 0px;
    padding-top: 0px;
    background-color: rgba(0, 0, 0, 0);
}
.nav ul {
    list-style-type: none;
    padding-left: 0px;
    padding-top: 0px;
    margin: 0px;
}
.nav li {
    color: orange;
    float: left;
    padding-top: 0%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.nav a {
    text-decoration: none;
}
.nav a:visited {
    text-decoration: none;
    color: inherit;
}
/*header styles*/
.header {
    height: 100px;
    /*opacity: 0.2;*/
    color: red;
}
.header img{
    width: inherit;
    height: inherit;
}
/*page navigation style*/
.pagenav {
    height: 30px;
    background-image: url("images/checkeredbkg.jpg");
    padding-top: 0px;
}
.pagenav ul {
    list-style-type: none;
    padding-left: 5px;
    padding-top: 5px;
    margin: 0px;
}
.pagenav li {
    color: orange;
    float: left;
    padding-right: 20px;
    position: relative;
}
.smlinks img{
    /*position: absolute;
    right: 0;*/
    width: 24px;
    height: 22px;
    float: right;
    padding-left: 10px;
    padding-right: 10px;
}
.pagenav a {
    text-decoration: none;
}
.pagenav a:visited {
    text-decoration: none;
    color: inherit;
}
/*content style*/
.content {
    height: 100%;
    background-color: rgb(37, 37, 37);
    padding-bottom: 50px;
}
.content h1 {
    font-size: 32px;
    margin: 0px;
    padding-top: 20px;
    color: red;
    text-decoration: bold;
}
.content h2 {
    font-size: 24px;
    color: white;
    text-decoration: underline;
    text-decoration: bold;
}
.content p {
    color: orange;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
}
.content img {
    width: 100%;
    height: 75%;
}
/*########################
##     index styles     ##
########################*/
.news, .patch-notes, .events {
    /*height:630px; */
    background-color: rgba(0, 0, 0, 0.5);
    width: 95%; 
    margin: auto;
}
.slides {
    display: none;
    height: 75%;
}
.leftarrow {
    float: left;
}
.rightarrow {
    float: right;
}
/*##########################
##      About styles      ##
##########################*/
.gameinfo, .bginfo, .sysreq {
    background-color: rgba(0, 0, 0, 0.5);
    width: 95%; 
    margin: auto;
}
.gameinfo ul {
    padding-left: 45%;
    text-align: left;
    color: red;
    padding-bottom: 10px;
}
.gameinfo li {
    color: white;
}
.sysreq table {
    width: 100%;
    border: 1px solid grey;
}
.sysreq th {
    color: red;
    border: 1px solid grey;
}
.sysreq td {
    color: orange;
    border: 1px solid grey;
}
/*##########################
##    Downloads styles    ##
##########################*/

.download{
    width:100%;
    color:orangered;
}/*
.download h1{
    text-align: left;
}*/
.download ul{
    /*float: left;
    width: 30%;
    height: 200px;*/
    /*text-align: left;*/
    width: 95%;
    list-style-type: none;
    font-family:"Times New Roman";
    font-weight: bold;
    font-size:1.5vw;
    border: 1px solid orangered;
    border-radius: 15px;
    padding-bottom: 30px;
    margin: auto;
    background-color:  rgb(31, 31, 20);
    color:orange;
}